<div class="row">
      <div class="col-2">
        <nav class="d-none d-sm-block bg-light sidebar">
              <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Reports</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Analytics</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Export</a>
                </li>
              </ul>

              <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Nav item</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Nav item again</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">One more nav</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Another nav item</a>
                </li>
              </ul>

              <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Nav item again</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">One more nav</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Another nav item</a>
                </li>
              </ul>

            </nav>
    </div>
      <div class="col-10">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <%= image_tag('first.jpg', size: "200x300", alt: "First slide", style: 'display: block; margin: auto; width: 50%; height: 50%') %>

        </div>
        <div class="carousel-item">
          <%= image_tag('2.jpg', size: "200x300", alt: "First slide", style: 'display: block; margin: auto; width: 50%; height: 50%') %>

        </div>
        <div class="carousel-item">
          <%= image_tag('3.jpg', size: "200x300", alt: "First slide", style: 'display: block; margin: auto; width: 50%; height: 50%') %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>
    </div>
