<div class="row">
      <div class="col-2">
        <nav class="d-none d-sm-block sidebar" style="background-color:#F3F3F3 ;">
              <ul class="nav nav-pills flex-column">
                <li class="nav-item" >
                  <a class="nav-link active" style="background-color:#E7E7E7; color:black;" href="#">Categories <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" >
                  <a class="nav-link" href="#">Fruits</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Meats</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Vegetables</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Frozen</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Bakery</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Organic</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Baby</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Health</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Household</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Sale</a>
                </li>
              </ul>


    </div>
      <div class="col-10">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <%= image_tag('first.jpg', size: "200x300", alt: "First slide", style: 'display: block; margin: auto; width: 50%; height: 50%') %>
        </div>
        <div class="carousel-item">
          <%= image_tag('2.jpg', size: "200x300", alt: "First slide", style: 'display: block; margin: auto; width: 50%; height: 50%') %>
        </div>
        <div class="carousel-item">
          <%= image_tag('3.jpg', size: "200x300", alt: "First slide", style: 'display: block; margin: auto; width: 50%; height: 50%') %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>
    </div>
