<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Hi <%= @user.name %></h1>

    <p>Thank you for your purchase at smartestmart. Transaction details below</p>

  </body>
</html>
