<h1></h1>
<div class="container" style="width:1500px">


<nav class="navbar navbar-light bg-faded" style="background-color: #92cc92; width:1085px">
  <% @category.each do |category| %>
  <%= link_to category.name_category, stocks_type_path(:id => category.id), class:"navbar-brand" %>
  </li>
  <% end %>
</nav>


<% if user_signed_in? && current_user.type_admin %>
  <%= link_to 'Add new stock', new_stock_path  %>
<% end %>

<% if @stocks.present? %>
  <%= render "stock" %>
<% else %>
  <p>Sorry we do not have this currently.</p>
<% end %>



</div>
