<h1>Stock</h1>
<% if user_signed_in? && current_user.type_admin %>
  <%= link_to 'Add new stock', new_stock_path  %>
<% end %>

<% if @stocks.present? %>
  <%= render "stock" %>
<% else %>
  <p>Sorry we do not have this currently.</p>
<% end %>
