<!-- <h1> Scan your product barcodes </h1> -->
<h1> Barcode test </h1>
    <div class='container' style='position:relative'>
    <video id="gum-local" autoplay playsinline style='opacity:0.8; object-fit: contain;'></video>
    <canvas class="drawingBuffer" width="640" height="480" style='position:absolute; top:0px; left:0px; float:left; object-fit: contain;'></canvas>
    </div>
    <button id ="startScan" type="button">Start input</button>
    <button id="stopScan" type="button">Stop input</button>

    <%= form_tag(stocks_path, method: :get) do %>
      <%= label_tag 'barcode' %>
      <%= text_field_tag :term, params[:term], id: 'barcodeField'%>
      <%= submit_tag 'Search', name: nil %>
    <% end %>
