<h1>Your shopping list</h1>

<ul>
  <% @shoplists.each do |shoplist| %>
  <li> <%= shoplist.name_shoppinglist %>
  <div class="actions">
    <%= link_to 'View', user_shoppinglist_path(:id => shoplist.id) %>
    <%= link_to 'Edit', edit_user_shoppinglist_path(:id => shoplist.id) %>
    <%= link_to 'Delete', user_shoppinglist_path(:id => shoplist.id), method: :delete, data: {confirm: "Are you sure you want to delete this?"},remote: true %>
  </div>
</li>
  <% end %>
</ul>

<%# link_to 'Edit', edit_user_shoppinglist_path(:id => shoplist.id) %>
