@import "bootstrap";
@import "main";
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri');

$font-stack: 'Hind Siliguri', sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

p {
    margin: 0;
    color:#ec701d;

}

label {
    display: inline-block;
    margin-bottom: 5;
}
.shoplistlist {
  list-style-type: none;
  text-align: center;
  padding: 0 ;
  height: 130px;
  overflow: scroll;
  margin: 0;
  width: 318px;

}
.shoplistbox{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
}
.numberitem{
  margin: 0;
}
.dropdown-header{
  padding: 2px;
}

.editfield:hover {
    background: #f2f5ff;
    border-radius:5px;
    padding:2px 4px;
}

.navbarlink {
  color:#FF946D;
  background-color:#FAF3E7;
}
.sitebutton{
background-color:#FF946D;
color:#FAF3E7
}
.sitebutton:hover{
  color:#76380e
}
.stockcard {
  background-color: Transparent;
  color:#ec701d;
  border: outset;
  height: 100%;
  width: 100%;
  font-size: 2em;
}

.stocklogin {
  background-color: Transparent;
  color:#ec701d;
  border: outset;
  height: 100%;
  width: 100%;
}
.btn .btn-simple .flipping{
  margin: 0 59px;
}

h1, h2 {
  color:#ec701d;
}

.cardlink {
  color:#CC7657;
}
.dropdown-item:focus, .dropdown-item:hover {
  background-color: #FAF3E7
}
a:hover {
    color: #76380e;
    text-decoration: none;
}
.btn:hover {
  color: #76380e;
}

a {
  color: #CC7657;
}
